In [40]:
df = read.csv(file = 'full_df_wide_numeric.csv', header=TRUE)

In [1]:
# head(df)

In [42]:
dim(df)

[1] 21317    40

In [43]:
# install.packages("knitr")
library(tableone)
library(knitr)

The downloaded binary packages are in
	/var/folders/8c/wsg_lv0n6bv2zm3k7zd1sxd00000gp/T//RtmpLrKEpU/downloaded_packages

In [44]:
categorical = c('Engl','delta_H','delta_W',
                'gender1.Female','gender1.Male',
                'medis1','race1.Asian','race1.Black',
                'race1.Native.American','race1.Other',
                'race1.Pacific.Islander','race1.Unknown',
                'race1.White','label')
drops = c("pat_enc_csn_id_coded")
df = df[ , !(names(df) %in% drops)]

In [47]:
mytable = CreateTableOne(strata="label", data=df, factorVars=categorical, 
                         includeNA=FALSE, test=FALSE)

In [48]:
p = print(mytable, printToggle=FALSE, noSpaces=FALSE)
kable(p, format="latex")

\begin{tabular}{l|l|l}
\hline
  & 0 & 1\\
\hline
n & 18554 & 2763\\
\hline
Hemoglobin (mean (SD)) & 12.43 (2.30) & 12.73 (2.35)\\
\hline
ALT..SGPT...Ser.Plas (mean (SD)) & 37.18 (27.31) & 39.56 (27.66)\\
\hline
Glucose.by.Meter (mean (SD)) & 178.83 (96.53) & 187.57 (103.08)\\
\hline
Sodium..Ser.Plas (mean (SD)) & 136.09 (4.32) & 135.88 (5.11)\\
\hline
Potassium..Ser.Plas (mean (SD)) & 3.99 (0.55) & 4.06 (0.64)\\
\hline
Total.Bilirubin..Ser.Plas (mean (SD)) & 0.66 (0.51) & 0.70 (0.51)\\
\hline
WBC (mean (SD)) & 9.69 (4.63) & 10.84 (5.17)\\
\hline
Creatinine..Ser.Plas (mean (SD)) & 1.09 (0.59) & 1.20 (0.68)\\
\hline
Anion.Gap (mean (SD)) & 8.78 (3.17) & 9.58 (4.07)\\
\hline
CO2..Ser.Plas (mean (SD)) & 26.27 (3.53) & 25.64 (4.41)\\
\hline
AST..SGOT...Ser.Plas (mean (SD)) & 34.48 (26.60) & 39.42 (28.54)\\
\hline
Magnesium..Ser.Plas (mean (SD)) & 1.95 (0.33) & 1.98 (0.39)\\
\hline
Neutrophil..Absolute (mean (SD)) & 7.31 (4.16) & 8.14 (4.56)\\
\hline
Albumin..Ser.Plas (mean (SD)) & 3.40 (0.66) & 3.34 (0.67)\\
\hline
BUN..Ser.Plas (mean (SD)) & 19.43 (12.28) & 22.80 (13.93)\\
\hline
Platelet.count (mean (SD)) & 246.11 (106.80) & 230.48 (92.75)\\
\hline
Weight1 (mean (SD)) & 76.44 (23.01) & 76.99 (22.79)\\
\hline
Pulse (mean (SD)) & 88.65 (18.66) & 91.71 (23.39)\\
\hline
race1.White = 1 (\%) & 9592 (51.7) & 1433 ( 51.9)\\
\hline
gender1.Female = 1 (\%) & 9168 (49.4) & 1139 ( 41.2)\\
\hline
Temp (mean (SD)) & 36.93 (0.58) & 36.83 (0.72)\\
\hline
medis1 = 1 (\%) & 9145 (49.3) & 1338 ( 48.4)\\
\hline
RR (mean (SD)) & 18.57 (2.85) & 20.43 (5.21)\\
\hline
SBP (mean (SD)) & 131.08 (21.19) & 132.48 (28.38)\\
\hline
label = 1 (\%) & 0 ( 0.0) & 2763 (100.0)\\
\hline
race1.Unknown = 1 (\%) & 161 ( 0.9) & 85 (  3.1)\\
\hline
SpO2 (mean (SD)) & 97.25 (2.18) & 96.61 (3.29)\\
\hline
DBP (mean (SD)) & 76.72 (13.53) & 78.69 (17.50)\\
\hline
race1.Asian = 1 (\%) & 2693 (14.5) & 425 ( 15.4)\\
\hline
age1 (mean (SD)) & 56.83 (18.96) & 60.52 (18.21)\\
\hline
race1.Black = 1 (\%) & 1364 ( 7.4) & 184 (  6.7)\\
\hline
race1.Pacific.Islander = 1 (\%) & 343 ( 1.8) & 71 (  2.6)\\
\hline
race1.Other = 1 (\%) & 4300 (23.2) & 554 ( 20.1)\\
\hline
delta\_W = 1 (\%) & 180 ( 1.0) & 23 (  0.8)\\
\hline
Height1 (mean (SD)) & 167.66 (11.00) & 168.48 (11.12)\\
\hline
race1.Native.American = 1 (\%) & 101 ( 0.5) & 11 (  0.4)\\
\hline
delta\_H = 1 (\%) & 665 ( 3.6) & 156 (  5.6)\\
\hline
Engl = 1 (\%) & 15730 (84.8) & 2323 ( 84.1)\\
\hline
gender1.Male = 1 (\%) & 9386 (50.6) & 1624 ( 58.8)\\
\hline
\end{tabular}